.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.card__content {
  max-width: 413px;
  padding: 0;
  margin: 0;
}

.card__content-image {
  object-fit: cover;
  width: 413px;
  height: 413px;
  padding: 0;
  margin: 0 0 12px 0;
  border-radius: 8px;
}

.card__content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card__content-caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 353px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.card__content-like {
  background-image: url("../images/like-icon.svg");
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  transition: opacity 0.3s;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.card__content-like:hover {
    opacity: 1;
}

.card__content-liked {
  background-image: url("../images/like-icon_liked.svg");
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  opacity: 1;
  transition: opacity 0.3s;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.card__content-liked:hover {
  opacity: .6;
}


@media screen and (max-width: 627px) {
  .card__content-image {
    width: 288px;
    height: 288px;
  }

  .card__content-footer {
    max-width: 288px;
  }

  .card__content-caption {
    font-size: 16px;
    line-height: 16px;
    max-width: 268px;
  }

  .card__content-like {
    width: 20px;
    height: 18px;
  }
}
