.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  margin: 0;
  padding: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  margin: 0;
  position: relative;
  border-radius: 8px;
}

.modal__container-preview {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color:#212121;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url('../images/close-icon.png');
  background-color: #fff;
  background-size: cover;
  border: none;
  opacity: .7;
  transition: opacity 0.3s;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.modal__close-btn-preview {
  top: 10px;
  right: -12.5px;
  background-color: transparent;
  filter: invert(1) brightness(5);
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px 0;
  padding: 0;
  width: 630px;
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: rgba(33,33,33,0.3);
  height: 52px;
  border-radius: 8px;
  border: 1px rgba(33,33,33,0.4) solid;
  transition: border-color 0.3s ease;
  margin: 0;
  padding: 0 12px 0;
}

.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:not(:placeholder-shown)
{
  color: rgba(33, 33, 33, 1);
}

.modal__input:invalid +.modal__error {
  display: inline;
}

.modal__error {
  display: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: #FF0000;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #FCF5E5;
  cursor:pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal__submit-btn:hover {
  opacity: .8;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  padding: 0;
  margin: 0 0 8px 0;
  display: block;
}

.modal__preview-caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #212121;
  color: #FFF;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 8px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 10px;
  }

  .modal__preview-image {
    max-width: 288px;
  }

  .modal__title {
    margin: 12px 0 24px 0;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn-preview {
    top: -20px;
    right: 10px;
  }

  .modal__label {
    max-width: 276px;
  }

  .modal__submit-btn {
    width: 276px;
    height: 52px;
  }
}
